body{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #6f6d72;
    background-color: #f6f6f6;
    /* -webkit-font-smoothing: antialiased; */
    text-rendering: optimizeLegibility;
    font-weight: 400;
}
.header-title{
    border-bottom: 1px solid #ebebeb;
    padding: 12px 0px 1px 0px;
}
.header-img{
    height: 500px;
    background-image:   linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../images/wedding1.jpg');
   position: relative;
    background-size: cover;
}
.title, .navbar-brand{
    color: #ea3535 !important;
}
.logo
{
    height: 60px;
}
.navbar a {
    color: black;
}

.search-box{
  padding: 10px;
    
    width: 700px;
    margin: auto;
    top: 200px;
    position: relative;
    color: white;
}
.search-form{
    background: rgba(0, 0, 0, 0.5);
    padding: 6px;
    border-radius: 4px;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}
.search-control{
    border-radius: 0% !important;
    border: none;
}
.search-box h1{
    font-size: 50px;
}
.section{
    color: black;
    font-weight: normal;
    padding: 50px;
}

.section-title{
    padding: 20px;
}
.section-title h1{
font-weight: normal;
}
.venues{
    overflow: hidden;
    width: inherit;
    height: 250px;
    cursor: pointer;
    position: relative;
    border-radius: 2%;
}
.venues-img{
    width: 100%;
    height: inherit;
    transition: 0.3s ease;

}

.venues:hover .venues-img{
    transform: scale(1.25,1.25);
}

.overlay{
    position: absolute;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.4);
    height: inherit;
    z-index: 1;
}

.venue-details{
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
    padding: 10px;

}
.section-venues{
 
  
}
.btn-search{
    background-color: rgb(247, 147, 163);
    color: white;
}
h1, h2, h3, h4, h5 ,h6{
    font-weight: 300 !important;
    font-family: 'Rubik', sans-serif;
}

.tool-icon-box{
        border: 1px solid #e4e4e4;
        padding: 29px 18px;
        text-align: center;
        border-radius: 4px;
        margin-bottom: 10px;
        transition: 0.1s ease;
        cursor: pointer;
}
.tool-icon-box:hover i {
color: rgb(240, 98, 122);
}
.tool-icon-box:hover {
    box-shadow: 5px 5px 20px 5px #00000017;
}
.feature-icon{
    font-size: 52px;
    color: black;
    margin-bottom: 20px;
}
.bg-red{

}
.bg-secondary{
    background-color: rgba(230, 230, 230, 0.685) !important;
}
.start-btn{
width: 200px;
margin: auto ;
margin-top: 50px;
}
.btn-start:hover{
    color: whitesmoke;
    background-color: #cf2929;
}



.btn-start{
    background-color: #ea3535;
    color: white;
    padding: 20px

}

.married-couples-box{
    border: 1px solid rgb(218, 218, 218);
    width: inherit;
    padding:  2px;
    background-color: white;
    cursor: pointer;
}

.married-couples-img {
    width: inherit;
    overflow: hidden;
    height: 400px;
    
}

.married-couples-img img{
    width: inherit;
    height: inherit;
    transition: 0.5s ease;
}
.married-couples-details{
    padding: 30px;

}
.married-date{
    font-size: 12px;
    color: #4c4a4f;
    border-bottom: 1px solid #ff4d4d;
    display: inline-block;
    line-height: 1.8;
    font-style: italic;
}
.married-location{
    display: inline-block;
    line-height: 1.8;
    font-style: italic;
    font-size: 12px;
    color: #4c4a4f;
}
.section-app{
 
    background: url('../images/appbanner.jpg');
    background-size: cover;
}
@media only screen and (max-width: 1400px){
    .cta-wrapper {
        background-position: 65%;
    }
}

.cta-section{
    padding: 38px;
    color: #fff;
}
.cta-section p{
    word-break: break-word;
}

.pink{
    background-color: #8e3343;
}
.page-footer{
    color: white !important ;
}
.footer-banner{
    background-color: #63222d;
}



.content-wrapper{
    position: relative;

}

.content-box{
    width: 600px;
    margin: auto;
    background: #fff;

    box-shadow: 3px 5px 20px 10px rgba(231, 231, 231, 0.575);
    margin-top: 40px;
}
.content-tabs > .col, .content-tabs>[class*=col-]{
    padding-left: 2px;
    padding-right: 2px;
}
.btn-tabs{
    padding: 20px!important;
    background-color: #f6f6f6;
    color: black;
    border-radius: 0;
}
.btn-tabs:focus{
    outline: none !important;
    box-shadow: none;
}
.btn-tabs:hover{
  
    color: black;

}
.active:hover{
    color: white;
}
 .active{
    background-color: #cf2929 ;
    color: white;
}
.login-tab{
    padding: 20px;
  margin-top: 30px;
}

.signup-tab{
    padding: 20px;
  margin-top: 30px;
   
}
.tab-link{
    color: rgb(24, 90, 233) !important;
    cursor: pointer;
}
.venue-banner{
    overflow: hidden;
    height: 400px;
}
.venue-banner-img{
    width: 100%;
    min-height: 400px;
    vertical-align: middle;
}
.venue-view-details{
    padding: 20px;
    background-color: white !important;
   color: black;
}

.venue-location{
    color: #ff4d4d;
}
.venue-view-body{
    padding: 20px;
    color: black;
   background-color: white;

}
.bold-title{
    color: black;
    font-weight: bold!important;
}
.overview-icon{
    font-size: 40px;
}
.light-bold{
    color: black;
    font-weight: 500!important;
}

.overview-box > .col, .overview-box>[class*=col-]{
    padding-left: 2px;
    padding-right: 2px;
}
.font-small{
    font-size: 13px;
}
.venue-img-box{
    width: 100%;
    height: 60px;
    overflow: hidden;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.venue-img{
    width: 100%;
   min-height: 60px;
   cursor: pointer;
}
#gmap_canvas{
    width: 100%;
}

.star-orange{
    color: orange;
}
.venue-comment-form{
    margin-top: 20px;
}
.venue-comment-control{
    width: 100%;
    min-height: 150px;
    max-height: 150px;
    resize: none;
border: 1px solid black;padding: 10px;
}
.custom-btn{
    padding: 10px;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.venue-comment-section{
    margin-top: 80px;
}
.venue-gallery-section{
    min-height: 297px;
}

.cmt-profile-img{
width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
 
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.cmt-img{
    height: 80px;
    overflow:hidden;
    width: 80px;
    margin:auto;
    position: relative;
    border-radius: 50%;
    border-radius: 50%;
}

@media (max-width: 576px){

.cmt-details {
margin-left: 50px;
}
}

.fa-star{
    cursor: pointer;
}
.rating
{
    cursor: pointer;
}

.errormsg h6{
    color: red;
    padding: 5px;
    font-size: 12px;
}
.err-success h6{
    color: rgb(24, 216, 110) !important;
    
}
.error-input{
    border: rgba(223, 57, 57, 0.801)  !important;
    box-shadow: 0 0 0 0.2rem rgba(231, 30, 30, 0.25) !important;
}

.success-input{
    border: rgba(28, 165, 62, 0.801)  !important;
    box-shadow: 0 0 0 0.2rem rgba(12, 148, 35, 0.25) !important;
}